@media screen and (max-width: 1250px ) {
    .gear_conteiner {
        padding-left: 15px;
    }


}
@media screen and (max-width: 1170px ) {
    .footer_section {
        padding-left: 15px;
        padding-right: 15px;
    }
    header {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media screen and (max-width: 1151px ){
    .what_we_do .d-flex {
        justify-content: center;
    }
    .gear_conteiner p {
        max-width: 400px;
    }
}
@media screen and (max-width: 1100px ){
    .second_banner {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 1024px ){
    .list_section_right {
        margin-right: unset;
    }
}

@media screen and (max-width: 992px ){
    header {
        padding: 24px 15px ;
    }
}
@media screen and (max-width: 845px ){
    .item1 {
        margin-left: 10px;
    }
    .item2 {
        margin-left: 10px;
    }
    .item3and4 {
        margin-left: 10px;
    }
    .link4 {
        margin-left: 10px;
    }
    .main_banner {
        height: 80vh;
    }
    .gear_conteiner p {
        max-width: 350px;
    }

}

@media screen and (max-width: 830px ){
    .item2 {
        margin-left: 10px;
    }
    .item3and4 {
        margin-left: 10px;
    }
    .link4 {
        margin-left: 10px;
    }
    .list_section_right {
        margin-left: 15px;
    }
    .list_footer2 {
        margin-left: 15px;
    }
}




@media screen and (max-width: 815px ) {
    .item2 {
        margin-left: 10px;
    }

    .item3and4 {
        margin-left: 10px;
    }

    .link4 {
        margin-left: 10px;
    }
    .list_section_right {
        margin-left: 10px;
    }
}

@media screen and (max-width: 768px ){
    .list_section_right {
        margin: unset;
    }
}

@media screen and (max-width: 756px ){
    .footer_second_section {
        display: flex;
    }
    .form_button {
        border-radius: 11px;
        max-height: 32px;
    }
    .form_footer {
        max-height: 58px;
    }
    .gear_conteiner p{
        max-width: 300px;
    }
}

@media screen and (max-width: 720px ){
     .list{
        display: none;
    }
    .main_banner {
        height: 65vh;
    }
    .form_footer {
        margin-left: 15px;
    }
}
@media screen and (max-width: 700px ) {
    .list_of_logos {
        flex-direction: column;
    }

    .list_of_logos a {
        margin-top: 15px;
    }

    .owl-nav .owl-prev {
        top: 125px
    }

    .owl-nav .owl-next {
        top: 125px
    }

    .gear_conteiner p {
        max-width: 250px;
    }
    .gear_conteiner h4{
        max-width: 200px;
        font-size: 17px;
    }
    .gear_conteiner h3{
        max-width: 200px;
    }
}
@media screen and (max-width: 600px){
    .conteiner2 {
        padding-right: 15px;
        padding-left: 15px;
    }
    .third_banner {
        justify-content: center;
        padding-right: unset;
    }
    .fourth_banner {
        justify-content: center;
        padding-right: unset;
    }
    .fifth_banner {
        justify-content: center;
        padding-right: unset;
    }

    .image_position {
        background-image: unset;
        background-size: unset;
    }
    .gear_conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gear_conteiner p {
        max-width: 300px;
        text-align: center;
    }
    .gear_conteiner h3 {
        max-width: 300px;
    }
    .gear_conteiner h4 {
        max-width: 300px;
    }
    .the_gear_cage {
        background-image: url("../images/IMAGE (5).jpg");
    }
}

@media screen and (max-width: 590px ){
    .sixth_banner {
        padding-left: 15px;
        padding-right: 15px;
    }

}


@media screen and (max-width: 530px ){
    .footer_list_section {
        flex-direction: column;
        align-content: center;
    }
    .list_section_right {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        margin-left: unset;
    }
    .list_footer2 {
        margin-left:unset;
        margin-top: 15px;
    }
    .footer_second_section {
        display: flex;
        flex-direction: column;
    }
    .footer_third_section {
        display: flex;
        flex-direction: column;
    }
    .form_footer {
        max-height:50px;
        margin-top: 15px;
        margin-left: unset;

    }
    .list_footer_section3 {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
    }
    .title_footer_section3 {
        margin-top: 20px;
    }
    .form_button {
        margin: 6px 3px 6px 6px ;
        border-radius: 30px;

    }
}

@media screen and (max-width: 500px ) {
    .title2{
        font-size: 40px;
    }
}
@media screen and (max-width: 480px ){
    .what_we_do .d-flex {
        padding-left: 15px;
        padding-right: 15px;
    }
    .title1 {
        color: #000000;
    }
    .sixth_banner {
        padding-bottom: unset;
    }
    .conteiner2 {
        padding-top: 15px;
    }
    .text_second_banner {
        font-size: 15px;
        margin-top: 10px;
    }

}

@media screen and (max-width: 428px ) {
    .what_we_do h2 {
        font-size: 30px;
    }
    .what_we_do p {
        font-size: 16px;
    }

}

@media screen and (max-width: 414px ) {
    .second_banner {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .list_of_logos {
        padding-bottom: 58px;
    }
    .gear_conteiner {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media screen and (max-width: 375px ) {
    .title6 {
        font-size: 30px;
    }
    .info_content li {
        margin-left: 10px;
    }
}


@media screen and (max-width: 340px ) {
    .third_banner_container {
        padding-left: 15px;
        padding-right: 5px;
    }
    .fourth_banner_container {
        padding-left: 15px;
        padding-right: 5px;
    }
    .fifth_banner_container {
        padding-left: 15px;
        padding-right: 5px;
    }
    .info_content {
        right: auto;
    }
    .info_content li {
        margin-left: 3px;
    }

}

@media screen and (max-width: 320px ){
    .button_description {
        padding: 4px 5px 5px 4px;
    }
    .what_we_do .descrition {
        padding: 15px 15px 10px 15px;
    }
    .what_we_do h2 {
        font-size: 30px;
    }
    .what_we_do p {
        font-size: 14px;
    }

}
@media screen and (max-width: 320px ){
    .text_second_banner {
        font-size: 12px;
        margin-top: unset;
    }

}

