* {
    margin: 0;
    padding: 0;

}

header {
    background-color: black;
    padding-top: 24px;
    padding-bottom: 24px;

}

.contriner {
    max-width: 1150px;
    display: flex;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}


header ul li a {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;

}

header ul li:hover {
    transform: scale(1.2);
}

header ul li:hover a{
    color: #757575;
    ;
}


header ul li {
    margin: 3px 0 3px 0;
}


.item1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.item2 {
    margin-left: 56px;
}

.item3and4 {
    margin-left: 32px;
}

.link4 {
    margin-left: 31px;
    padding: 9px 20px 13px 20px;
    background-color: #FFFFFF;
    color: black;
    border-radius: 14px;
}

section {
    background-image: url("img/IMAGE (1).png");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.conteiner2 {
    align-items: center;
    padding-bottom: 71px;
}

.title1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #C0C0C0;
    padding-top: 466px ;
}

.title2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    /* identical to box height, or 110% */

    text-align: center;

    color: #FFFFFF;

}

.text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #C0C0C0;
    margin-bottom: 71px;



}
